.find_area {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: auto;
  height: auto;
  background-color: transparent;
  margin: 20px 0;
  border-radius: 10px;
  padding: 0;
}

.title_area h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
  text-align: center;
  color: #4b5963;
}

.find {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.find_input {
  width: 95%;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.find_input:focus {
  outline: none;
}

.find_input::placeholder {
  font-size: 18px;
}

.find_button {
  display: none;
}

.find_image {
  width: 24px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.suggestions {
  width: 95%;
  position: absolute;
  top: 30px;
  background-color: #eee;
  font-size: small;
  border-radius: 5px;
  text-transform: uppercase;
}

.find .suggestions {
  top: 49px;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.rankings_area div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rankings_area div:not(:first-child) {
  margin: 35px 0 70px 0;
}

.ranking_title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

ul.rank_best_percent {
  background-color: #fff;
  border-radius: 10px;
  list-style: none;
}

ul.rank_best_percent li {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

ul.rank_best_percent li:first-child {
  border-radius: 10px 10px 0 0;
}

ul.rank_best_percent li::first-letter {
  font-size: 20px;
}

ul.rank_best_percent li:nth-child(-n+3) {
  background-color: #3e6990ff;
  font-size: 18px;
}

ul.rank_best_percent li:nth-last-child(-n+3) {
  background-color: #f96f24ff;
}

ul.rank_best_percent li:last-child {
  border-radius: 0 0 10px 10px;
}

.utilities_area {
  display: flex;
  column-gap: 30px;
  padding: 0 0 70px 0;
  flex-direction: column;
  row-gap: 30px;
}

.utilities_area h3 {
  margin: 0 0 20px 0;
}

.client_btn,
.company_btn,
.help_btn,
.faq_btn {
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #3e6990ff;
  white-space: nowrap;
}

.client_btn:hover,
.company_btn:hover {
  background-color: rgba(62, 105, 144, 0.8);
}

.help_btn {
  background-color: transparent;
  border: 1px solid #ff0000;
  color: #ff0000;
  transition: .5s;
}

.help_btn:hover {
  background-color: #ff9e9e;
  transition: .5s;
}

.faq_btn {
  color: #3e6990ff;
  border: 1px solid #3e6990ff;
  background-color: transparent;
  transition: all .5s;
}

.faq_btn:hover {
  background-color: #3e6990ff;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .find_area {
    max-width: 880px;
    width: 95%;
    height: 435px;
    background-color: #fff;
    margin: 70px 0;
    padding: 50px 20px 20px 20px;
  }

  .title_area h1 {
    font-size: 2em;
    margin: 0;
  }

  .find_input {
    width: calc(100% - 110px);
  }

  .find_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #f39b6dff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
  }

  .find_button:hover {
    background-color: #f96f24ff;
  }

  .find_image {
    display: none;
  }

  .rankings_area {
    max-width: 880px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  
  .rankings_area div {
    width: 45%;
  }
  
  ul.rank_best_percent {
    margin: 0 0 70px 0;
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
  }

  .rankings_area div:not(:first-child) {
    margin: 0;
  }

  .utilities_area {
    flex-direction: row;
    row-gap: 0;
    flex-wrap: wrap;
    gap: 30px;
  }

  .client_btn,
  .company_btn,
  .help_btn {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 1199px) {
  .find_area {
    max-width: 100%;
    width: 880px;
  }
}
