* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.loading_area {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100px;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
}

.container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

.sugested {
  padding: 5px;
}

.sugested:hover {
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

main {
  background-color: #eee;
  border-bottom: 2px solid #bbb;
  grid-area: main;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.warning {
  display: block !important;
  color: #ff0000;
  margin: -10px 0 10px 0;
}

.selected {
  background-color: #ddd;
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
}
