* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loading_area {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100px;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
}

.container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #bbb;
  grid-area: header;
  height: 83px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.buttons-area ul {
  display: flex;
  list-style: none;
}

.mobile-menu .user-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}

.mobile-menu .user-area img {
  width: 100px;
  margin-bottom: -10px;
}

.mobile-menu .user-info {
  font-size: 20px;
}

.user-area:not(.mobile-menu .user-area) {
  display: none;
}

.user-logout {
  display: inherit;
  align-items: center;
  gap: 0 5px;
  color: #f39b6d;
  text-decoration: none;
}

.user-logout:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ff5900;
}

.logo-area img {
  width: 150px;
}

.menu-image {
  width: 32px;
}

.menu {
  position: absolute;
  top: 83px;
  left: 0;
  background-color: #fff;
  width: 50vw;
  height: calc(100vh - 83px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 30px 0;
  transform: translateX(-767px);
  transition: 1s;
}

.active {
  transform: translateX(0);
  transition: 1s;
}

.btn_signup,
.btn_login {
  display: inline-block;
  min-width: 130px;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.btn_signup {
  background-color: #3e6990ff;
}

.btn_login {
  background-color: #aabd8cff;
}

.user_avatar {
  width: 35px;
  border-radius: 50%;
}

.search-area,
.buttons-area {
  display: none;
}

.suggestions {
  width: 95%;
  position: absolute;
  top: 30px;
  background-color: #eee;
  font-size: small;
  border-radius: 5px;
  text-transform: uppercase;
}

.find .suggestions {
  top: 49px;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.sugested {
  padding: 5px;
}

.sugested:hover {
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.search_input {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
}

.search_input:focus {
  outline: none;
}

main {
  background-color: #eee;
  border-bottom: 2px solid #bbb;
  grid-area: main;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.find-area {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: auto;
  height: auto;
  background-color: transparent;
  margin: 20px 0;
  border-radius: 10px;
  padding: 0;
}

.find-area h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
  text-align: center;
  color: #4b5963;
}

.find {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.find_input {
  width: 95%;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.find_input:focus {
  outline: none;
}

.find_input::placeholder {
  font-size: 18px;
}

.find-button {
  display: none;
}

.find-image {
  width: 24px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.rankings-area div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rankings-area div:not(:first-child) {
  margin: 35px 0 70px 0;
}

.ranking-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

ul.rank_best_percent {
  background-color: #fff;
  border-radius: 10px;
  list-style: none;
}

ul.rank_best_percent li {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 0 10px;
}

ul.rank_best_percent li:first-child {
  border-radius: 10px 10px 0 0;
}

ul.rank_best_percent li::first-letter {
  font-size: 20px;
}

ul.rank_best_percent li:nth-child(-n+3) {
  background-color: #3e6990ff;
  font-size: 18px;
}

ul.rank_best_percent li:nth-last-child(-n+3) {
  background-color: #f96f24ff;
}

ul.rank_best_percent li:last-child {
  border-radius: 0 0 10px 10px;
}

.utilities-area {
  display: flex;
  column-gap: 30px;
  padding: 0 0 70px 0;
  flex-direction: column;
  row-gap: 30px;
}

.utilities-area h3 {
  margin: 0 0 20px 0;
}

.client_btn,
.company_btn,
.help_btn {
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  background-color: #3e6990ff;
  white-space: nowrap;
}

.client_btn:hover,
.company_btn:hover {
  background-color: rgba(62, 105, 144, 0.8);
}

.help_btn {
  background-color: transparent;
  border: 1px solid #ff0000;
  color: #ff0000;
  transition: .5s;
}

.help_btn:hover {
  background-color: #ff9e9e;
  transition: .5s;
}

footer {
  grid-area: footer;
  height: 114px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px 50px;
}

.socials a:not(:last-child) {
  margin-right: 20px;
}

.socials a img {
  width: 32px;
}

.nome__sign_warning,
.email__sign_warning,
.sobrenome__sign_warning,
.cnpj__sign_warning,
.login__sign_warning,
.pass__sign_warning,
.general__sign_warning {
  display: none !important;
}

.warning {
  display: block !important;
  color: #ff0000;
  margin: -10px 0 10px 0;
}

.selected {
  background-color: #ddd;
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header_btn {
    position: absolute;
    right: 5%;
  }

  .mobile-menu {
    display: none;
  }

  .user-area:not(.mobile-menu .user-area) {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  .buttons-area {
    display: block;
  }

  .buttons-area ul {
    column-gap: 10px;
  }
  
  .btn_signup:hover {
    background-color: #3e6990cc;
  }
  
  .btn_login:hover {
    background-color: #889575ff;
  }

  .find-area {
    max-width: 880px;
    width: 95%;
    height: 435px;
    background-color: #fff;
    margin: 70px 0;
    padding: 50px 20px 20px 20px;
  }

  .find-area h1 {
    font-size: 2em;
    margin: 0;
  }

  .find_input {
    width: calc(100% - 110px);
  }

/*   .find-button {
    display: block;
    width: 100px;
    background-color: #f39b6dff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
  } */

  .find-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #f39b6dff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
  }

  .find-button:hover {
    background-color: #f96f24ff;
  }

  .find .suggestions {
    background-color: #fff;
  }

  .find-image {
    display: none;
  }

  .rankings-area {
    max-width: 880px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  
  .rankings-area div {
    width: 45%;
  }
  
  ul.rank_best_percent {
    margin: 0 0 70px 0;
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
  }

  .rankings-area div:not(:first-child) {
    margin: 0;
  }

  .utilities-area {
    flex-direction: row;
    row-gap: 0;
  }

  .client_btn,
  .company_btn,
  .help_btn {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 1199px) {
  .find-area {
    max-width: 100%;
    width: 880px;
  }
}